.mainBody{
  height: 20vw;
  width: 25vw;
  background-image: linear-gradient(rgb(0, 153, 255), rgb(46, 241, 166));
  margin: 20vh 0 0 10vw;
  animation-name: changeColor;
  animation-duration: 3s;
  transition: linear;
  opacity: 0.5;
}

.hamburgerMenu{
  width: 4vw;
  height: 4vw;
  font-size: 2.5vw;
  color: white;
  margin: 2vw 0 0 0;
  background-color: rgb(78, 77, 77);
  border-radius: 50%;
  border: none;
  box-shadow: 0px 0px 10px #353535;
}

.navbar{
  margin: 2vw 0 0 0;
  animation-name: navbarIn;
  animation-duration: 1s;
}

.logo{
  width: 4vw;
  height: 4vw;
  font-size: 2.5vw;
  color: white;
  margin: 2vw 0 0 0;
  background-image: linear-gradient(rgb(0, 153, 255), rgb(46, 241, 166));
  border-radius: 50%;
  border: none;
  box-shadow: 0px 0px 10px #888888;
  animation-name: logoIn;
  animation-duration: 3s;
}

@keyframes changeColor{
  from {  margin: 20vh 0 0 0; opacity: 1;}
  to {  margin: 20vh 0 0 10vw; opacity: 0.5;}
}

@keyframes logoIn{
  0%   {opacity: 0;}
  25%  {opacity: 0;}
  50%  {opacity: 1;}
  100% {opacity: 1;}
}

@keyframes navbarIn{
  from {  margin: -5vw 0 0 0;}
  to {   margin: 2vw 0 0 0;}
}